<footer id="footer" class="row" data-hook=""><div id="footer-left" class="columns alpha eight" data-hook="">
          <p>Powered by <a href="http://spreecommerce.com/">Spree</a></p>
        </div>
        <div id="footer-right" class="columns omega eight" data-hook=""></div>
      </footer>
