<div id="paginator">
  <% if(pages > 1) { %>
    <% if(prev) { %>
      <a href="?page=<%=prev%>" class="prev" data-push-state>&laquo;</a>
    <% } else { %>
      <span>&laquo;</span>
    <% } %>

    <span class="paginator-text">
      Page <%= page %> of <%= pages %>
    </span>

    <% if(next) { %>
      <a href="?page=<%=next%>" class="next" data-push-state>&raquo;</a>
    <% } else { %>
      <span>&raquo;</span>
    <% } %>
  <% } %>
</div>
