<aside id="sidebar" class="columns alpha four" data-hook="">
  <div data-hook="homepage_sidebar_navigation">
    <nav id="taxonomies" class="sidebar-item" data-hook="">
      <% Spree.Data.taxonomies.each(function(taxonomy){ %>
        <h6 class="taxonomy-root">Shop by <%= taxonomy.root.get('name') %></h6>
        <ul class="taxons-list">
          <% taxonomy.root.taxons.each(function(taxon){ %>
            <li><a href="/t/<%= taxon.get('permalink') %>" data-push-state><%= taxon.get('name') %></a></li>
          <% }); %>
        </ul>
      <% }); %>
    </nav>
  </div>
</aside>
